<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/WorkSpaces/Testing/DemoTestNGAutomation">
        <classes>
            <class name="com.hsh.demo.test.UserNGTest">
                <methods>

                </methods>
            </class>
        </classes>
    </test>
</suite>