<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/WorkSpaces/Testing/DemoTestNGAutomation"><classes><class name="com.hsh.demo.login.UserNGTest"><methods><include name="testLoginWithUserAndPasswordIsCorrect"/><include name="testLoginWithUserAndPasswordNotCorrect"/><include name="testLoginWithUserNotCorrectAndPasswordNotCorrect"/><include name="testLoginWithNoData"/><include name="testRegisterWithNoDataOfEmail"/><include name="testRegisterWithNoDataOfPassword"/><include name="testRegisterWithNoDataOfFirstName"/><include name="testRegisterWithNoDataOfLastName"/><include name="testRegisterWithNoDataOfPhone"/><include name="testRegisterWithNoDataOfAddress"/><include name="testRegisterWithFullData"/></methods></class></classes></test></suite>